# Build and Leiningen files
target/
classes/
checkouts/
profiles.clj
pom.xml
pom.xml.asc
*.jar
*.class
.lein-*
.nrepl-port
.prepl-port
.clj-kondo/

# Version control
.hgignore
.hg/

# IDE files
.idea/
*.iml
.shadow-cljs

# Cache and temporary files
.cpcache/
.DS_Store

# Specific folders
USB/
data/
node_modules/s
public/

# Java source
src/java/

# Specific file types
*.json
!package.json
*.csv
*.numbers
*.xlsx
*.sql
yarn.lock
*.dic
*.aff
