/target
/classes
/checkouts
profiles.clj
pom.xml
pom.xml.asc
*.jar
*.class
/.lein-*
/.nrepl-port
/.prepl-port
.hgignore
.hg/


/.idea
/.cpcache
/USB
/data
.DS_Store
*.json
!package.json
*.csv
*.numbers
*.xlsx
*.sql
.shadow-cljs
/node_modules
/public
*.iml
yarn.lock

*.dic
*.aff